<div class="container">
  <div class="row">
    <div class="col">
      <div class="card text-center btn-card">
        <div class="car-body">
          <h4 class="card-title"><a href="start">Workout starten</a></h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center btn-card">
        <div class="car-body">
          <h4 class="card-title">Übungen</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card text-center btn-card">
        <div class="car-body">
          <h4 class="card-title">Mein Profil</h4>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card text-center btn-card">
        <div class="car-body">
          <h4 class="card-title">Einstellungen</h4>
        </div>
      </div>
    </div>
  </div>
</div>
