<ol class="breadcrumb">
  <li class="breadcrumb-item"><a href="dashboard">Dashboard</a></li>
  <li class="breadcrumb-item-active">Workout</li>
</ol>
<div class="content-container">
  <h3>Freies Training</h3>
  <div class="input-group" *ngIf="!exerciseStarted">
    <input type="text" class="form-control" placeholder="Übung suchen..." aria-label="Übung suchen..."
           [disabled]="isDisabled()">
    <span class="input-group-btn">
      <button class="btn btn-primary" type="button" [disabled]="isDisabled()" (click)="startExercise()">OK</button>
    </span>
  </div>
  <h4 *ngIf="exerciseStarted">Test</h4>
  <table class="table" *ngIf="exerciseStarted">
    <thead>
    <tr>
      <th>Satz</th>
      <th>Wiederholungen</th>
      <th>Gewicht</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let set of sets">
      <td>{{set.id}}</td>
      <td>
        <input type="number" class="form-control">
      </td>
      <td>
        <div class="input-group">
          <input type="number" class="form-control">
          <span class="input-group-addon">kg</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <button *ngIf="exerciseStarted" class="btn btn-primary" type="button" (click)="addSet()">Nächster Satz</button>
  <a href="do">Nächste Übung</a>
  <a href="start">Training beenden</a>
</div>
